/*@import url(https://fonts.googleapis.com/earlyaccess/jejuhallasan.css);*/
/*@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);*/
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    background: #414d0b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #727a17, #414d0b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #727a17, #414d0b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3, h4, h5, p, label {
    font-family: 'Nanum Gothic', sans-serif;
    color: #414141;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.results h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.results h3 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 20px;
}

.field {
    text-align: left;
    padding: 15px 0;
}

.accented {
    color: red;
    font-weight: 700;
}

label {
    font-size: 1rem;
    font-weight: 700;
}

input[type=text], select {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-top: 10px;
    /*line-height: 32px;*/
    background: #ffffff;
}

select {

}

input[type=text]:focus {
    outline: 0;
    border: 1px solid green;
}

select:focus {
    outline: 0;
    border: 1px solid green;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dfdfdf;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dfdfdf;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #dfdfdf;
}

button {
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 15px;
    background-color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #dfdfdf;
}

/*button:active {*/
    /*background-color: aquamarine;*/
    /*outline: 0;*/
/*}*/

.container__head {
    height: 120px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main {
    margin: auto;
}

.card {
    padding: 20px 20px 40px 20px;
    margin: 30px 10px 0 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form {
    /*text-align: left;*/
    /*max-width: 400px;*/
    /*display: inline-block;*/
}

.form label {
    text-align: left;
}

.results {
    display: none;
    padding: 40px 0;
}


@media (min-width:768px) {
    .container__main {
        max-width: 600px;
    }

    .container__head {
        height: 200px;
    }
}